body {
    min-height: 100vh;
}

.content {
    background-color: white;
}

.container-bg {
    background-color: #c7c7c7;
}

.main-page-news-offset-top {
    margin-top: 1em;
}

.navigation-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-page-news-title {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

nav div ul:last-child {
    list-style: none;
    float: right;
}

.news-item {
    padding-top: 1em;
    padding-bottom: 1em;
}

.divider-left {
    border-left: 1px solid black;
}

.custom-dropdown-right {
    right: 0 !important;
    left: auto !important;
}

.custom-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}