body {
    position: relative;
}

.content-auth {
    background-color: white;
}

.content {
    background-color: white;
    min-height: 95vh;
    /*padding-bottom: 40px;*/
}

.container-bg {
    background-color: #c7c7c7;
}

.main-page-news-offset-top {
    margin-top: 1em;
}

.navigation-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-page-news-title {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

nav div ul:last-child {
    list-style: none;
    float: right;
}

.news-item {
    padding-top: 1em;
    padding-bottom: 1em;
}

.divider-left {
    border-left: 1px solid black;
}

.custom-dropdown-right {
    right: 0 !important;
    left: auto !important;
}

.custom-footer {
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
}

.custom-footer-link {
    color: #fff !important;
}

.custom-footer-link:hover {
    color: #18BC9C !important;
    text-decoration: none;
}

.custom-logo {
    width: 50px;
    height: 50px;
}

.custom-dropdown-links {
    color: #fff !important;
}

.custom-dropdown-links:hover {
    background: #1e2b37;
    color: #18BC9C !important;
}

.custom-list-manage-btn {
    color: #7b8a8b;
    background-color: #ecf0f1;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    line-height: 1.5;
}

.h-10 {
    height: 10% !important;
}

.h-30 {
    height: 30% !important;
}

.h-60 {
    height: 60% !important;
}

.news-divider {
    margin-left: -15px;
    width: auto;
    margin-right: -15px;
}

.custom-modal-dialog {
    max-width: 70% !important;
}

.custom-img-responsive {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.news-main-photo {
    height: 250px;
}

.news-main-photo-show {
    /*max-height: 500px;*/
}

.custom-badge {
    max-width: 70px;
    max-height: 17px;
    border-radius: 10rem;
    font-size: 0.7rem;
    align-self: center;
    margin-left: 3px;
}

.custom-news-date {
    display: flex;
}

input:focus {
    box-shadow: 0 0 0 0.05rem !important;
}

select:focus {
    box-shadow: 0 0 0 0.05rem !important;
}

textarea:focus {
    box-shadow: 0 0 0 0.05rem !important;
}

.was-validated {
    box-shadow: 0 0 0 0.05rem !important;
}

.form-control:invalid:focus {
    box-shadow: 0 0 0 0.05rem !important;
}

.form-control.is-invalid:focus {
    box-shadow: 0 0 0 0.05rem !important;
}

.was-validated.custom-select:invalid:focus {
    box-shadow: 0 0 0 0.05rem !important;
}

.custom-select.is-invalid:focus {
    box-shadow: 0 0 0 0.05rem !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.05rem !important;
}

.custom-file-input:focus {
    box-shadow: 0 0 0 0.05rem !important;
}

.custom-padding {
    margin: 3vh 0;
}

.custom-iframe {
    width: 100%;
    min-height: 80vh;
}

.custom-nav-link {
    padding: 0.5rem 1rem;
}